@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/point.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";
/* Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}
.main-screen {
  padding: 0px 20px 0px 25px;
  margin-right: 5px;
  overflow-x: hidden;
  /*  overflow-y: scroll;*/
  height: 535px;
}
.main-screen::-webkit-scrollbar {
  width: 7px;
}
.main-screen::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
}
