#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px 20px 0px 25px;
  margin-right: 5px;
  overflow-y: scroll;
  height: 515px;
}
.friends-screen::-webkit-scrollbar {
  width: 7px;
  margin-right: 5px;
}
.friends-screen::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
}
.friends-screen__lists {
  margin-top: 25px;
}

.friends-screen__list-header {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  border-top: var(--main-border);
  align-items: center;
}
.friends-screen__list-header__open {
  padding-bottom: 15px;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: var(--blue);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
#splash-screen i:last-child {
  position: absolute;
  color: white;
}
